
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: datastoreinfoes.topology.vkubeviewer.com
spec:
  group: topology.vkubeviewer.com
  names:
    kind: DatastoreInfo
    listKind: DatastoreInfoList
    plural: datastoreinfoes
    shortNames:
    - ds
    singular: datastoreinfo
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.datastore
      name: Datastore
      type: string
    name: v1
    schema:
      openAPIV3Schema:
        description: DatastoreInfo is the Schema for the datastoreinfoes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DatastoreInfoSpec defines the desired state of DatastoreInfo
            properties:
              datastore:
                type: string
            type: object
          status:
            description: DatastoreInfoStatus defines the observed state of DatastoreInfo
            properties:
              accessible:
                type: boolean
              capacity:
                format: int64
                type: integer
              free_space:
                format: int64
                type: integer
              hosts:
                items:
                  type: string
                type: array
              status:
                type: string
              type:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
